:root {
  --000: #f0fbfa;
  --100: #d8f5f5;
  --200: #b5eaec;
  --300: #63cfd5;
  --400: #48bfc8;
  --500: #2da2ad;
  --600: #288492;
  --700: #266b78;
  --800: #275963;
  --900: #254a54;
  --950: #133039;

}

html {
  font-size: 10px;
  background: url('./background2.jpg') bottom center;
  background-color: var(--950);
  background-size: cover;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  user-select: none;
  display: grid;
  place-items: center;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

h1 {
  font-size: clamp(4rem, 5vw, 5em);
  font-weight: 400;
  text-align: center;
  color: var(--000);
  padding-block: 1.6rem;
  padding-inline: 3.2rem;
  text-align: center;
  background-image: linear-gradient(90deg, var(--300) 0%, var(--200) 100%);
  border: 1px solid var(--950);
  border-radius: 12px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: clamp(6rem, 5vw, 10rem);
  text-shadow: 1px 1px 24px var(--950), -1px -1px 1px #133039;
  font-weight: 700;
  transition: all 0.2s ease;
  filter: drop-shadow(0 0 48px var(--300));
}

main {
  place-self: center;
  display: grid;
  place-items: center;
  height: 100%;
  place-content: center;
  text-align: center;
  width: 100%;
  transition: all 0.07s;
  padding-bottom: 10rem;
}

.keys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Default for small screens */
  text-align: center;
  transition: all 0.03s;
  place-items: center;
}

.key {
  border-radius: 2rem;
  margin: 2rem;
  padding: .25rem .125rem;
  transition: all 0.07s ease;
  /* Combined transition properties */
  width: 16rem;
  height: 16rem;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: center;
  color: var(--100);
  filter: drop-shadow(0 0 .5rem var(--300));
  text-shadow: 0 0 .5rem var(--950);
  background: #01010199;
}

@media screen and (max-width: 759px) {
  .keys {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for small screens */
    place-items: center;
    justify-content: center;
    height: 100vh;
  }
}

@media screen and (min-width: 760px) and (max-width: 980px) {
  .keys {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns for medium screens */
    place-items: center;
    /* Add your specific styles for this screen size range */
    .key[data-key="87"] {
      grid-column: 4;
      grid-row: 1;
    }
  }
}

@media screen and (min-width: 980px) {
  .keys {
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns for large screens */
    place-items: center;

  }
}

.playing {
  transform: scale(1.07);
  transform-origin: center; /* Ensure the element scales from the center */
  border: solid var(--200);
  box-shadow: 0 0 1rem var(--300);
  filter: drop-shadow(0 0 .5rem var(--500));
}

kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--500);
  filter: drop-shadow(0 0 24rem var(--100));
  text-shadow: 0 0 1rem var(--900);
  transition: all 0.07s;
  font-weight: 500;
}