html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  place-self: center;
  display: grid;
  place-items: center;
  height: 100vh;
  place-content: center;
  text-align: center;


}

.keys {
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(3, 1fr);


}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;

}

.key[data-key="87"] {
  place-content: center;
  grid-column: 1;
  grid-row: 1;


}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}