:root {
  --000: #f0fbfa;
  --100: #d8f5f5;
  --200: #b5eaec;
  --300: #63cfd5;
  --400: #48bfc8;
  --500: #2da2ad;
  --600: #288492;
  --700: #266b78;
  --800: #275963;
  --900: #254a54;
  --950: #133039;
}

html {
  font-size: 10px;
  background: url('./background2.jpg') bottom center;
  background-color: var(--600);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 100vh;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding-inline: 2rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(135deg, var(--300) 0%, var(--950) 100%);
  filter: drop-shadow(0 0 4px var(--900));
  text-shadow: #080d0d 2px 2px 12px 2px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: clamp(6rem, 5vw, 10rem);

  text-wrap: balance;
}

main {
  place-self: center;
  display: grid;
  place-items: center;
  height: 100vh;
  place-content: center;
  text-align: center;
  width: 100vw;
  transition: all 0.07s;
  padding-bottom: 10rem;
}

.keys {
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;


  width: fit-content;
  text-align: center;
  transition: all 0.03s;
  place-items: center;

  .key[data-key="87"] {
    place-content: center;
    grid-column: 2;
    grid-row: 4;
  }

}

.key {
  border: .4rem solid var(--950);
  border-radius: .5rem;
  margin: 2rem;
  font-size: 48px;
  padding: .2rem .125rem;
  transition: all .07s ease;

  width: 12rem;
  height: 12rem;
  display: grid;
  place-items: center;
  place-content: center;

  text-align: center;
  color: var(--100);
  filter: drop-shadow(0 0 .5rem var(--300));
  text-shadow: 0 0 .5rem var(--950);
  background: #01010199;
}

@media screen and (min-width: 1000px) {
  .keys {
    grid-template-columns: repeat(4, 1fr);
    .key[data-key="87"] {
      place-content: center;
      grid-column: 2;
      grid-row: 3;
    }
    .key[data-key="76"] {
      place-content: center;
      grid-column: 3;
      grid-row: 3;
    }
    .key[data-key="75"] {
      place-content: center;
      grid-column: 4;
      grid-row: 2;
    }


  }

}


@media screen and (max-width: 960px) {
  .keys {
    grid-template-columns: repeat(3, 1fr);
    /* Wrap into 3 columns on medium screens */
    .key[data-key="87"] {
      place-content: center;
      grid-column: 2;
      grid-row: 5
    }
  }
}

@media screen and (max-width: 720px) {
  main{
    margin-top: 10rem;
    min-height: 80vh;
    width: 100%;
  }
  .keys {
    padding-bottom: 5rem;
    grid-template-columns: repeat(2, 1fr);
    /* Wrap into 2 columns on small screens */

  }
  .key[data-key="87"] {
    place-content: center;
    grid-column: 2;
    grid-row: 5
  }
  .key[data-key="76"] {
    place-content: center;
    grid-column: 2;
    grid-row: 4;
  }
  .key[data-key="75"] {
    place-content: center;
    grid-column: 2;
    grid-row: 3;
  }
}

@media screen and (max-width: 360px) {
  .keys {
    grid-template-columns: repeat(1, 1fr);
    /* Wrap into 1 column on small screens */
    min-height: 80vh;
  }

  .key[data-key="87"] {
    place-content: center;
    grid-column: 2;
    grid-row: 3;
  }
  .key[data-key="76"] {
    place-content: center;
    grid-column: 3;
    grid-row: 3;
  }
  .key[data-key="75"] {
    place-content: center;
    grid-column: 4;
    grid-row: 2;
  }
}



.playing {
  transform: scale(1.1);
  border-color: var(--400);
  box-shadow: 0 0px 1git 4px 0px var(--300);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--300);
}