html {
  font-size: 10px;
  background: url('./background2.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  padding: 2rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
main {
  place-self: center;
  display: grid;
  place-items: center;
  height: 100vh;
  place-content: center;
  text-align: center;
  width: 100vw;
  transition: all 0.2s;
}

.keys {
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(3, 1fr);


}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}
@media screen and (min-width: 1000px) {
  .keys {
    grid-template-columns: repeat(4, 1fr); /* Wrap into 2 columns on large screens */
    .key[data-key="87"] {
      place-content: center;
      grid-column: 4;
      grid-row: 3;
    }
  }

}


@media screen and (max-width: 800px) {
  .keys {
    grid-template-columns: repeat(3, 1fr); /* Wrap into 3 columns on medium screens */
  }

}

@media screen and (max-width: 600px) {
  .keys {
    grid-template-columns: repeat(2, 1fr); /* Wrap into 2 columns on small screens */
  }
}

@media screen and (max-width: 400px) {
  .keys {
    grid-template-columns: 1fr; /* Wrap into 1 column on very small screens */
  }
}

.key[data-key="87"] {
  place-content: center;
  grid-column: 2;
  grid-row: 4;
}

.playing {
  transform: scale(1.1);
  border-color: #ff00e1;
  box-shadow: 0 0px 1git 4px 0px#ff00e1;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ff00e1;
}